{% extends 'base.html' %}

{% block head %}
<title>리뷰 작성하기</title>
{% endblock %}

{%block body %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">방문한 전통시장에 대해 리뷰를 남겨주세요</h5>
      <p class="card-text">
        <form action="/detail/<market_id>" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="title" placeholder="제목">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="contnet" rows="3" placeholder="내용"></textarea>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="score" placeholder="평점">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark" onclick="location.href='/detail/<market>';">리뷰 작성</button>
            </div>
          </form>
      </p>
    </div>
  </div>
{% endblock %}