
{% extends 'base.html' %}

{% block head %}
    <title>전통시장의 자세한 정보</title>
{% endblock %}

{%block body %}
    <h1>{{market.name}}</h1>
    <div>
    <iframe class="{{market.map-link}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    {% for review in reviews %}
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{review.title}}</h5>
            <p class="card-text">{{review.content}}</p>
        </div>
        </div>
    {%endfor%}
    <div>
    <button type="button" class="btn btn-outline-dark" onclick="location.href='/create/market-name';">리뷰 추가</button>
    </div>
    
{% endblock %}