{% extends 'base.html' %}

{% block head %}
<title>전통시장 위치 알아보기</title>
{% endblock %}

{%block body %}
<h1>내 주변 시장 정보를 확인하고 리뷰를 작성하세요! </h1>
<div>
  <button type="button" class="btn btn-outline-dark" onclick="location.href='/market-list/경기도';">경기도</button>
</div>
<div>
  <button type="button" class="btn btn-outline-dark" onclick="location.href='/market-list/서울';">서울</button>
</div>
<div>
  <button type="button" class="btn btn-outline-dark" onclick="location.href='/market-list/인천';">인천</button>
</div>
{% endblock %}