<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>전통시장 위치 알아보기</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <div><h2>인천 서구</h2></div>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">시장 이름</th>
                <th scope="col">시장 위치</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">가좌 시장</th>
                <td>인천 서구 원적로96번길 26 가좌프라자쇼핑</td>
              </tr>
              <tr>
                <th scope="row">강남 시장</th>
                <td>인천 서구 석남동 595</td>
              </tr>
              <tr>
                <th scope="row">거북시장</th>
                <td>인천 서구 거북로 115</td>
              </tr>
              <tr>
                <th scope="row">정서진 중앙 시장</th>
                <td>인천 서구 원창로239번길 11</td>
              </tr>
              <tr>
                <th scope="row">축산물 시장</th>
                <td>인천 서구 가좌동 516</td>
              </tr>
            </tbody>
          </table>
    </div>
    
      
</body>
</html>