{% extends 'base.html' %}

{% block head %}
<title>전통시장 리스트</title>
{% endblock %}

{%block body %}
<div><h2>{{area.name}}</h2></div>
    <input id="button_name" type="button" value="지역 이름 순" class="btn btn-dark" onclick="
      document.querySelector('div.order_by_city').style.display = '';
      document.querySelector('div.order_by_score').style.display = 'none';
    ">
    <input id="button_score" type="button" value="평점 순" class="btn btn-dark" onclick="
      document.querySelector('div.order_by_city').style.display = 'none';
      document.querySelector('div.order_by_score').style.display = '';
    ">

    <div class="order_by_city">
        <table class="table"><br>
          지역 이름 순으로 보고 있습니다.
            <thead>
              <tr>
                <th scope="col">시장 이름</th>
                <th scope="col">시장 주소</th>
              </tr>
            </thead>
            {% for market in markets_order_by_city %}
                <tbody>
                <tr>
                    <th scope="row"><a href = {{ url_for('detail', market_id=market.id) }}>{{market.name}}</a></th>
                    <td>{{market.address}}</td>
                </tr>
                </tbody>
            {%endfor%}
          </table>
    </div>
    <div class="order_by_score" style="display:none">
      <table class="table"><br>
        평점 순으로 보고 있습니다.
          <thead>
            <tr>
              <th scope="col">시장 이름</th>
              <th scope="col">시장 주소</th>
            </tr>
          </thead>
          {% for market in markets_order_by_score %}
              <tbody>
              <tr>
                  <th scope="row"><a href = {{ url_for('detail', market_id=market.id) }}>{{market.name}}</a></th>
                  <td>{{market.address}}</td>
              </tr>
              </tbody>
          {%endfor%}
      </table>
    </div>

{% endblock %}